.header {
  height: 60px;
  border-bottom: 1px solid #ececec;
    
  @include tablet {
    display: flex;
    height: 80px;
    background-color: var(--title-background-color);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;

    border-bottom: 1px solid #ececec;
}}

@include tablet{
.header__wrap {
  display: flex;
  justify-content: space-between;
  // height: 80px;
  align-items: center;
  @include desktop{
    justify-content: center;
  }
}
.nav {
  display: flex;
  align-items: baseline;  //????
}
}

.nav__list {
  @include tablet{
display: flex;

align-items: center;
text-align: center;
margin-left: 88px;
@include desktop{
  margin-left: auto; //??????
}

.link.current {
  @include tablet {
  color: var(--accent-color);}

  }
  }
}
.nav__list .link {
  @include tablet {
    display: flex;
    position: relative;
    padding: 32px 0;
    color: var(--primary-tex-color);
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &:hover,
  &:focus {
    @include tablet {
      color: var(--accent-color);
    }
  }
}

.nav__item {        
  @include tablet {
  // display: flex;
  &:not(:last-child) {
    margin-right: 50px;
  }
}}

.nav__current::after {
  @include tablet {
  content: "";
  position: absolute;
  bottom: 0;
  width: 48px;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
}
}

.nav__curret--portfolio::after {
  @include tablet {
  content: "";
  width: 78px;
}}

.contact {
  @include tablet {
    display: flex;  //????
    @include desktop{
    margin-left: auto;
    }
  
}}
.contact__list {
  @include tablet {
  display: block;
  padding: 21px 0;
  align-items: center;
  @include desktop{
    display: flex;
  }
}}


  .contact__list .link {
    @include tablet {
  color: var(--title-text-color);
font-size: 12px;
line-height: 1.17;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
    
  }}
  @include desktop{
    display: flex;
    padding: 32px 0;
    align-items: center;
    font-size: 14px;
    line-height: 1.14;
  }
}
.contact__item {
  @include tablet {
    display: flex;
    &:not(:last-child) {
      margin-bottom: 10px;
    }
@include desktop{
padding-right: 10px;
align-items: center;
justify-content: center;

&:not(:last-child) {
 margin-right: 30px;
margin-bottom: 0;}

}
    
  }
  .link{                  
    @include tablet {
      display: flex;
      align-items: center;
    }
  }
}
.contact__icon {
  @include tablet {
  fill: currentColor;
  margin-right: 8px;
  align-items: center;
}
  @include desktop {
  margin-right: 10px;
  align-items: center;
}}
@media screen and (max-width: 767px) {
  .nav__list {
    display: none;
  }

  .contact {
    display: none;
  }
}

.menu-open-btn{
  background-color: transparent;
  border: none;
  display: flex;
  margin-left: auto;
  align-items: center;
  color: #212121;
  cursor: pointer;

  @include tablet{
    display: none;
  }
}
.header__wrap{
  display: flex;  //перенести там где таблетка
  align-items: center;
  height: 100%;
}
