.hero {
    
    max-width: 1600px;
    margin-bottom: 60px;
    margin: 0 auto;
    padding: 118px 0;
    text-align: center;

    color: var(--title-background-color);
    background-color: var(--fuuter-background-color);
  
    background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../images/fon-geroy.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.hero__title {
    margin-bottom: 30px;

    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    @include desktop {
        font-size: 44px;
        line-height: 1.36;
    }
}
.hero__wrap{
max-width: 360px;
margin: 0 auto;
@include desktop {
max-width: 696px;
}
}